# NOTE: Keep in sync with .dockerignore
.build
.env
.idea
.log
.tsbuildinfo
.vscode
build
dist
node_modules
coverage
airnode-feed.json
secrets.env
signed-api.json
.DS_Store

# Do not ignore e2e config files. These don't need to be listed in Dockerignore because e2e package is not dockerized.
!packages/e2e/**/airnode-feed.json
!packages/e2e/**/.env
!packages/e2e/**/signed-api.json

# Do not ignore performance-test config files. These don't need to be listed on Dockerignore because e2e package is not dockerized.
!packages/performance-test/airnode-feed/airnode-feed.json
!packages/performance-test/signed-api/signed-api.json
